<div class="footer">
    <div class="footer-letters">
            <div class="footer-firstLine">
                <div id="footer-1-firstLine">
                    <span>Let's get Social</span>
                </div>
                <div id="footer-2-firstLine">
                    <img src="https://cdn-icons-png.flaticon.com/512/1384/1384033.png" alt="img"> 
                    <img src="https://seeklogo.com/images/I/instagram-new-2016-glyph-logo-84CB825424-seeklogo.com.png" alt="image">
                    <img src="https://images.squarespace-cdn.com/content/v1/5d2654bebb53e2000142c707/1563400432398-EIY1W1N9QD87F9BPW0PI/kisspng-computer-icons-logo-pintrest-5b1110cecdb5a3.3954268515278450708426.png?format=500w" alt="image">
                    <img src="https://www.citypng.com/public/uploads/preview/-11595327237ulqckjabpb.png" alt="image">
                    <img src="https://s3-alpha-sig.figma.com/img/24a4/7ef8/92ad047dfa20f0c90ed966e4a5a7de5e?Expires=1655683200&Signature=RfkVKV7zoaG2o8~dcNlnk8sBvpdiERLrrN0AmufMHodkQswhGR4lymLk7PcZyU8vjOxxz-w~-2MAii-9gcpPzN0qNOai1D6unRjC955yFsk8cuZsqn96tK9U88v4zqJPYg0QAjRpFMhdY4~b2oscc-fRsK3HdbLg~oyeS3LrrorQvDyRXgu1pfq5KDb8Iom6HCQAxqtntz~1Eu6d8CdBte~Iu7RFyplbIhFKqqeP1O568nliiqA5B3GpSwOy2WZJ46x0XFfUybuQr7UFpiFZgxxKse5DRsAFy3qBDZabP-tjcakx-Wy6av1Z6kA~duY4l-JbXXWKHrKTbrvSRvufQA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="image">
                </div>
                <div id="footer-3-firstLine">
                    <span>Contact me</span>
                </div>
            </div>
            <div class="footer-secondLine">
                <div id="footer-1-secondLine">
                   <span>About</span> 
                </div>
                <div id="footer-2-secondLine">
                    <span>Work with me</span>
                </div>
                <div id="footer-3-secondLine">
                    <span>User agreement</span>
                </div>
                <div id="footer-4-secondLine">
                    <span>Privacy Policy</span>
                </div>
            </div>
    </div>
    <div class="footer-image">
    <div id="footer-roundImg">
        <div class="footer-letter-roundImg">
            <p id="footer-p-roundImg"> Broken <br> heart</p>
        </div>
    </div>
    </div>
</div>