<div class="bloglist">
    <div class="bloglist-firstimg">
        <a href="/Viewblog">
            <img src="../../image/kitchenforblogs.png" alt="img" />
        </a>
    </div>
    <div class="bloglist-text1">

    </div>
    <div class="bloglist-secondimg">
        <img src="../../image/kitchen2.png" id="bloglist-secondimg" alt="img" />
    </div>
    <div class="bloglist-text2">
    </div>
</div>