<div class="home">
    <div class="home-content">
        <img src="../../image/Life-meaning.jpg" alt="Image" id="home-content-image" width="699px" height="337px" />
    </div>
    <form action="/Content">
        <button class="home-redirect-btn">Read More</button>
    </form>
</div>