<div class="manager">
    <div class="manager-1">
        <span id="manager-1">Tokuda</span>
    </div>
    <div class="manager-2">
        <span id="manager-2">Edit post</span>
    </div>
    <div class="manager-2">
        <span id="manager-3">See post</span>
    </div>
    <div class="manager-2">
        <span id="manager-4">Delete post</span>
    </div>
    <div class="manager-2">
        <span id="manager-5">Manager</span>
    </div>
</div>