<div class="profile">
    <div class="profile-firstRow">
        <div class="profile-firstRow-firstCol">
            <img src="../../image/ppl.jpg" alt="ppl">
            <span id="profile-firstRow-firstCol">New Post</span>
        </div>
        <div class="profile-firstRow-secondCol">
            <div class="profile-firstRow-title">
                <span id="profile-firstRow-title">Profile</span>
            </div>
            <div class="profile-firstRow-group">
                <div class="profile-firstRow-group1">
                    <span id="profile-firstRow-group1">Name:    Tokuda </span>
                    </br>
                    <span id="profile-firstRow-group1">Age:    69</span>
                    <br>
                    <span id="profile-firstRow-group1">Sex:    Daily</span>
                </div>
                <div class="profile-firstRow-group2">
                    <form action="/Manager">
                        <button id="profile-btn">Manager post</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="profile-secondRow">
        <div class="profile-secondRow-1">
            <span id="profile-secondRow-1">Here</span>
        </div>
        <div class="profile-secondRow-2">
            <span id="profile-secondRow-2">Save</span>
        </div>
    </div>
</div>