<div class="viewblog">
    <div class="viewblog-1Col">
        <div class="viewblog-1Col-1">
            <span id="viewblog-1Col-1">Rate</span>
            <img src="../image/star.png" alt="img">
            <img src="../image/star.png" alt="img">
            <img src="../image/star.png" alt="img">
            <img src="../image/star.png" alt="img">
            <img src="../image/star.png" alt="img">

        </div>
        <div class="viewblog-1Col-2">
            <span id="viewblog-1Col-2">Author: Tokuda</span>
        </div>
    </div>
    <div class="viewblog-2Col">
        <img src="../../image/kitchenforblogs.png" id="viewblog-kitchenimg" alt="img" />
        <span id="viewblog-2Col-text">Nữ sắc suy cho cùng cũng chỉ là da với thịt, máu mủ tanh hôi.Cái bẫy luân hồi đau khổ vô lượng kiếp, sa chân vào lục dục biết bao giờ mới thoát khỏi? Đừng vì thế mà sinh lòng lưu luyến</span>
    </div>
    <div class="viewblog-3Col">
        <img src="../image/like.png">
        <span id="viewblog-3Col">Like</span>
        <img src="../image/comment.png">
        <span id="viewblog-3Col">Comment</span>
        <img src="../image/share.png">
        <span id="viewblog-3Col">Share</span>
    </div>
    <div class="viewblog-4Col">
        <img id="viewblog-4Col" alt="img" src="../image/icon.jpg">
        <div class="viewblog-4Col-2">
            <span id="viewblog-4Col-2">Comment :  </span>
        </div>
        <div class="viewblog-4Col-box">
            <img src="../image/arrow.png" id="viewblog-4Col-box" alt="img">
            <div class="viewblog-4Col-smallbox">
                <span>Hide comment</span>
                <span>Delete comment</span>
            </div>
        </div>
    </div>
</div>